@import 'tailwindcss';

body {
  @apply h-screen overflow-hidden;
}

@layer utilities {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .scrollbar {
    &::-webkit-scrollbar {
      @apply h-1 w-1 rounded-sm bg-indigo-100;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-sm bg-indigo-500;
    }

    @-moz-document url-prefix() {
      scrollbar-width: thin;
    }
  }
}
